@use '../foundation/mixin' as *;

.inview {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 1.3s ease-out,
    transform 1.3s ease-out;
  will-change: opacity;
}

.inview.is-show {
  opacity: 1;
  transform: translateY(0);
}

/* フッターとページトップは移動させず、フェードインのみ */
.footer .inview,
.page-top .inview {
  opacity: 0;
  transform: none;
  transition: opacity 1.3s ease-out;
}

.footer .inview.is-show,
.page-top .inview.is-show {
  opacity: 1;
  transform: none;
}



/* ヘッダーは柔らかくフェードイン */
.l-header .inview {
  transform: translateY(15px);
  transition:
    opacity 1.6s ease-out,
    transform 1.6s ease-out;
  will-change: opacity;
}

.l-header .inview.is-show {
  opacity: 1;
  transform: translateY(0);
}
