@use '../foundation/mixin' as *;

// スマホだけ表示
.sp_only {
  display: none;
}

@include mq(md) {
  .sp_only {
    display: block;
  }
}

// PCだけ表示
.pc_only {
  display: block;
}

@include mq(md) {
  .pc_only {
    display: none;
  }
}