@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;

.l-main-visual {
  padding: 30.3rem 0 0;
  margin-bottom: 12rem;

  @include mq(md) {
    padding: 18.6rem 0 0;
    margin-bottom: 8.8rem;
  }

  &__title {
    @include flex;
    flex-direction: column;

    width: 75%;
    height: 16rem;
    margin: 0 auto 1.2rem;

    background-image: url("../../img/page-heading.png");
    background-size: cover;
    background-position: center;

    @include mq(md) {
      width: 92%;
      height: 12rem;
      background-image: url("../../img/page-heading-sp.png");
    }
  }

  &__title-ja {
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    color: v.$color-main;
    font-family: v.$font-sub;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 2rem;

    }
  }

  &__title-en {
    font-size: 1rem;
    font-family: v.$font-main;
    color: v.$color-main;
    text-transform: capitalize;

    @include mq(md) {
      font-size: 1rem;
    }
  }
}