@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;
@use '../utility/sp' as sp;

.p-about-page {
  margin: 12rem 0 5rem;

  @include mq(md) {
    margin: 8rem 0 5rem;
  }

  &__inner {
    max-width: 1440px;
    margin-inline: auto;

    @include mq(md) {
      width: 100%;
    }
  }

  &__text-wrap {
    @include mq(md) {
      width: 92%;
      margin-inline: auto;
      text-align: left;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: v.$color-main;
    letter-spacing: 0.2em;
    line-height: 3;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.6rem;
      width: 100%;
    }
  }
}

// 年間行事予定
.p-yearly-program {
  text-align: center;


  &__inner {
    width: 75%;
    max-width: 1080px;
    margin-inline: auto;
    margin: 8rem auto 11.8rem;

    @include mq(md) {
      width: 92%;
      margin: 6rem auto 8rem;
    }
  }


  /* ==============================
  アイコン
  ============================== */

  &__icon-wrap {
    width: 10.8rem;
    height: 10.8rem;
    background-color: v.$color-main-3;
    @include flex;
    margin: 0 auto 1rem;
    border-radius: 50%;

    @include mq(md) {
      width: 8rem;
      height: 8rem;
      margin: 0 auto .8rem;
    }
  }

  &__icon {
    width: 7.2rem;
    height: 7.2rem;

    @include mq(md) {
      width: 5.3rem;
      height: 5.3rem;
    }
  }

  /* ==============================
  見出し
  ============================== */

  &__heading {
    font-size: 2.4rem;
    color: v.$color-main;
  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin: 0 auto 1rem;

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;
    text-transform: capitalize;
    font-family: v.$font-sub;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: v.$Black;
    margin: 0 auto 3.2rem;

    @include mq(md) {
      margin: 0 auto 3.2rem;
    }
  }

  /* ==============================
  園一覧
  ============================== */

  &__list-wraper {
    background: v.$color-white;
    padding: 6rem 4rem;
    text-align: left;

    @include mq(md) {
      padding: 6rem 1.25rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include mq(md) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__item {
    // width: 100%;
    background-color: v.$color-main-4;
    border-radius: 20px;

    @include mq(md) {}

  }

  /* ==============================
  園カード
  ============================== */

  &__card {
    display: block;
    width: 100%;
    height: 26.4rem;
    color: inherit;
    text-decoration: none;
    transition: .3s;
    padding: 1.2rem;

    &:hover {
      opacity: .7;
    }
  }

  /* アイキャッチ */
  &__thumbnail {
    width: 100%;
    aspect-ratio: 296 / 180;
    margin-bottom: .8rem;

    @include mq(md) {}


    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;

      @include mq(md) {}

    }
  }

  /* カテゴリーボタンの箱 */
  &__wrap {
    display: flex;
    gap: .8rem;
    margin-bottom: .8rem;

    @include mq(md) {}

  }

  /* 園の種類 */
  &__type {
    font-size: 1.4rem;
    line-height: 1.5;
    color: v.$color-main;
    background-color: v.$color-white;
    padding: .4rem .8rem;
    border-radius: .8rem;
  }

  &__card-month {
    font-size: 2rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;

    margin-bottom: .8rem;
  }

  &__card-title {
    font-size: 1.4rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;

  }

  &__card-note {
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin-top: 3.2rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }
}