@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.p-contact {

  // ご案内
  &__intro {
    margin: 12rem 0 4.8rem;

    @include mq(md) {
      width: 92%;
      margin: 0 auto 4.8rem;
    }
  }

  &__intro-inner {
    max-width: 1080px;
    width: 75%;
    margin-inline: auto;

    @include mq(md) {
      width: 100%;
    }
  }

  &__intro-text {
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin: 0 0 1.2rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__intro-link {
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    text-decoration: underline;
    text-underline-offset: 0.3rem;

    @include mq(md) {
      font-size: 1.4rem;
    }

    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }


  // フォームセクション
  &__form {
    margin: 0 0 11.8rem;

    @include mq(md) {
      margin: 0 auto 8rem;

      // ==========================================
      // お問い合わせページの住所
      // SPではラベル → 入力欄の縦並び
      // ==========================================

      .p-form__address-group--contact {

        // CF7によって生成されたpを縦並びにする
        .p-form__address-row p {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.4rem;
        }

        // ラベル
        .p-form__address-sublabel {
          width: 100%;
        }

        // CF7の入力欄を100%にする
        .wpcf7-form-control-wrap {
          width: 100%;
          flex: none;
        }

        .p-form__text,
        .p-form__select {
          width: 100%;
        }
      }
    }
  }

  &__form-container {
    max-width: 1080px;
    width: 75%;
    margin-inline: auto;

    @include mq(md) {
      width: 92%;
    }
  }

  &__form-inner {
    background-color: v.$color-white;
    padding: 6.4rem 14rem;
    border-radius: 20px;

    @include mq(md) {
      padding: 4.8rem 1.5rem;
    }
  }
}

.p-form__text-contact {
  height: 4rem;
}

.p-form__textarea-contact {
  height: 20rem;
}

.p-form__privacy-contact p {
  @include mq(md) {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.p-form__privacy-label-contact {
  @include mq(md) {
    // padding: 0 3.65rem;
  }
}

.wpcf7-list-item {
  margin: 0;
}

.contact-confirm-btn {
  margin: 4.8rem 0 0;
}