@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.l-info-single {
  &__inner {
    width: 75%;
    margin-inline: auto;
    background-color: v.$color-white;
    padding: 3.2rem 3.2rem 6.4rem;
    border-radius: 40px;
    margin: 12rem auto;

    @include mq(md) {
      width: 92%;
      margin: 5.4rem auto 7.95rem;
      padding: 3.2rem 1.5rem 6.4rem;
    }
  }
}


.p-info-article {

  &__date {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;

    @include mq(md) {}
  }

  &__title {
    font-size: 3.2rem;
    border-bottom: 1px solid v.$color-main-2;
    padding-bottom: 1.2rem;
    margin-bottom: 3.2rem;

    @include mq(md) {
      font-size: 2rem;
      margin-bottom: 2.4rem;
    }
  }

  &__thumbnail img {
    width: 59%;
    // height: 32rem;
    height: auto;
    border-radius: 40px;
    margin: 0 auto .8rem;


    @include mq(md) {
      width: 100%;
      height: 15.75rem;
    }
  }


}

.p-news-article {

  &__body {
    margin-bottom: 6.4rem;

    @include mq(md) {
      margin-bottom: 3.6rem;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    margin-bottom: .8rem;

    @include mq(md) {}
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 3.6rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }
}





/* ==============================
  ページネーション
============================== */
.c-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 12.3rem;

  @include mq(md) {
    margin-bottom: 8rem;
  }

  .page-numbers {
    background: v.$color-mtransparent;
    border: 1px solid v.$color-mtransparent;
    color: v.$color-main;
    font-family: v.$font-main;
    font-size: 1.6rem;
    line-height: calc(40 / 32);
    font-weight: 400;
    padding: 6px 14px;

    &.current {
      background: none;
      border: none;
    }

    &.next,
    &.prev {
      background: none;
      border: none;
    }
  }
}


// 戻るボタン

.single__back-btn-wrap {
  text-align: center;

  @include mq(md) {}
}

.single__back-linkbtn {
  color: v.$color-main;

  @include mq(md) {}
}



/* ==============================
  Font Awesome
============================== */
.fa-chevron-right,
.fa-chevron-left {
  font-size: 2rem;
  color: v.$color-main;

  @include mq(md) {
    font-size: 1.2rem;
  }
}