@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.l-info {
  &__inner {
    width: 75%;
    margin-inline: auto;

    @include mq(md) {
      width: 92%;
    }
  }
}

/* ==============================
  絞り込みタブ
============================== */
.p-info-filter {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  margin-bottom: 6.4rem;
  padding: 12rem 0 0;
  justify-content: center;

  @include mq(md) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
    padding: 8.8rem 0 0;
  }

  &__button {
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: v.$Regular;

    padding: .85rem 1.6rem;
    border-radius: .8rem;
    background-color: v.$color-white;
    color: v.$color-main-5;
    border: 1px solid v.$color-main-5;
  }
}

.is-active {
  background-color: v.$color-main-5;
  color: v.$color-white;
}

/* ==============================
  記事一覧
============================== */
.p-info-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    border-bottom: 1px dashed #e8cdb0;
    padding-bottom: 30px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}



/* ==============================
  記事カード
============================== */

.p-info-card {
  /* ==================
    SP（デフォルト）
    縦に積み上がるレイアウト
  ================== */
  display: grid;
  // SP・PC共通で左側にバッジ、右側にテキスト群を配置
  grid-template-columns: 14.4rem 1fr;
  grid-template-areas:
    "badge date"
    "badge title"
    "badge lead";
  column-gap: 12px; // SP時のバッジとテキストの隙間
  row-gap: 4px;
  align-items: start;
  text-decoration: none;
  border-bottom: 1px solid black;

  @include mq(md) {
    /* ==================
      PC
      アイコンの右側に日付、その下にタイトルと本文が回り込むレイアウト
    ================== */
    grid-template-columns: 8.2rem 1fr;
    grid-template-areas:
      "badge date"
      "title title"
      "lead lead";
    column-gap: 20px;
    row-gap: 8px;
    align-items: center;
  }

  &__badge {
    grid-area: badge;

    width: 12rem;
    height: 12rem;

    background-color: v.$color-main-7;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4px;

    color: #fff;

    svg {
      width: 4.8rem;
      height: 4.8rem;
    }

    span {
      font-size: 1.8rem;
      color: v.$color-white;
      line-height: 1.5;
      font-weight: v.$Regular;

      @include mq(md) {
        font-size: 1.08rem;
      }
    }

    @include mq(md) {
      width: 7.2rem;
      height: 7.2rem;

      svg {
        width: 2.88rem;
        height: 2.88rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }

  &__date {
    grid-area: date;
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__title {
    grid-area: title;
    font-size: 2rem;
    color: v.$color-main;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.8rem;
    }
  }

  &__lead {
    grid-area: lead;
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }
}

/* ==============================
  ページネーション
============================== */
.c-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 12.3rem;

  @include mq(md) {
    margin-bottom: 8rem;
  }

  .page-numbers {
    color: v.$color-main;
    font-family: v.$font-main;
    font-size: 1.6rem;
    line-height: calc(40 / 32);

    &.current {
      background: none;
      border: none;
    }

    &.next,
    &.prev {
      background: none;
      border: none;
    }
  }
}

/* ==============================
  Font Awesome
============================== */
.fa-chevron-right,
.fa-chevron-left {
  font-size: 2rem;
  color: v.$color-main;

  @include mq(md) {
    font-size: 1.2rem;
  }
}