@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.letter-contents {
  width: 96rem;
  background-color: v.$color-white;
  padding: 3.2rem 3.2rem 6.4rem;
  border-radius: 4rem;

  @include mq(md) {
    width: 100%;
    padding: 3.2rem 1.5rem 6.4rem;
    border-radius: 3rem;
  }

  &__letter-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    @include mq(md) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 1.8rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: v.$Regular;
    @include flex;
    justify-content: left;
    gap: 1.2rem;

    margin-bottom: 3.2rem;

    @include mq(md) {
      font-size: 1.6rem;
      gap: 1.4rem;
    }
  }

  &__icon {
    width: 1.6rem;
    height: auto;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__heading {
    font-size: 3.2rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: v.$Regular;
    border-bottom: 2px solid v.$color-main-2;
    margin-bottom: 3.2rem;

    @include mq(md) {
      font-size: 2rem;
    }
  }

  &__date {
    font-size: 1.4rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.2rem;
    }
  }

  &__thumbnail {
    display: block;
    width: 64rem;
    height: 32rem;
    margin: 0 auto 3.2rem;
    object-fit: cover;
    border-radius: 40px;

    @include mq(md) {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }

  &__section {
    margin-bottom: 3.2rem;

    @include mq(md) {}
  }

  &__section-heading {
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 2;
    font-weight: v.$Regular;

    border-left: 2px solid v.$color-main-5;
    padding-left: 1.2rem;
    margin-bottom: .8rem;
  }

  &__section-text p {
    font-size: 1.6rem;
    color: v.$color-main-2;
    letter-spacing: 0.1em;
    line-height: 2;
    font-weight: v.$Regular;
    margin-bottom: .8rem;
  }
}

.letter-single-back-btn {
  width: 30rem;
  height: 6rem;
  margin: 3.2rem 0 0;
  border-radius: 3rem;

  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    transform: translateY(-50%);
    right: 3rem;
    top: 50%;
    font-size: 1.6rem;
  }
}

// 調整用調整用
.l-single-letter {

  .p-letter-archive__content,
  .p-letter-archive__list,
  .letter-contents {
    width: 100%;
  }

  .p-letter-archive__list {
    display: block;
  }
}