@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;




.l-letter {


  &__wrapper {
    background-color: rgb(196, 175, 175);

    @include mq(md) {}
  }

  &__wrapper-innner{
    display: flex;
    @include mq(md) {}
  }

}

.letter-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-width: 96rem;
  flex-wrap: wrap;

  @include mq(md) {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

.letter-list__item {
  width: 30rem;
  height: 28rem;
  background-color: pink;
}













.l-news {
  &__wrapper {
    display: flex;
    width: 75%;
    margin: 8.5% auto 0;
    background-color: gainsboro;
    border: 3px solid red;

    @include mq(md) {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 27% 0 3.6rem;
    }
  }

  &__sidebar {
    border-left: 1px solid v.$color-main;
    width: 16%;
    padding: .5% 0 0 1%;
    height: 10%;

    @media screen and (max-width: 1400px) {
      margin-left: 4%;
    }

    @include mq(md) {
      border-left: none;
      width: 86%;
      margin-left: 0;
    }

    &-title {
      font-size: 3.2rem;
      letter-spacing: 0.1em;
      line-height: calc(40 / 32);
      color: v.$color-main;
      font-family: v.$font-main;
      padding: 0 0 15%;
      text-transform: capitalize;
      font-weight: v.$Regular;

      @include mq(md) {
        font-size: 2.4rem;
        margin: 0 0 6%;
        padding: 0;
      }
    }
  }

  &__category-item {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: calc(21 / 16);
    color: v.$color-main;
    font-family: v.$font-primary-gothic;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
      width: 15rem;
    }
  }

  &__content {
    flex: 1;
    width: 100%;
  }
}

.news__category-item-top,
.news__category-item-bottom {
  display: block;

  @include mq(md) {
    display: flex;
  }
}

.p-news-card {
  display: flex;
  background-color: v.$color-bg-2;
  margin: 0 0 2rem;
  padding: 2.6% 0 1% 2.5%;
  max-width: 86.4rem;
  width: 100%;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 3% 0 0;
    max-width: none;
    margin: 0;
  }

  &__date {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: calc(20 / 14);
    color: v.$color-main;
    font-family: v.$font-main;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
      width: 92%;
      margin: 0 auto 2%;
    }
  }

  &__title {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: calc(21 / 16);
    color: v.$color-main;
    font-family: v.$font-sub;
    width: 66%;
    margin-left: 1rem;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
      width: 93%;
      margin: 0 auto;
    }
  }

  &__category {
    font-size: 3.2rem;
    letter-spacing: 0.04em;
    line-height: calc(40 / 32);
    color: v.$color-accent-3;
    font-family: v.$font-main;
    margin-left: auto;
    margin-right: 3%;
    text-transform: capitalize;
    font-weight: v.$Regular;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }

    @include mq(md) {
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      width: 92%;
      text-align: end;
      position: relative;
      top: -.7rem;
    }
  }
}

.news-item {
  display: flex;
  justify-content: space-between;
}

.pagination {
  .nav-links {
    .page-numbers {
      background: v.$color-mtransparent;
      border: 1px solid v.$color-mtransparent;
      color: v.$color-main;
      font-family: v.$font-main;
      font-size: 3.2rem;
      box-shadow: none;
      letter-spacing: 0.1em;
      line-height: calc(40 / 32);
      font-weight: 400;

      @include mq(md) {
        font-size: 1.6rem;
      }

      &.current {
        color: v.$color-main;
        background: none;
        border: none;
      }

      &.next {
        color: v.$color-main;
        background: none;
        border: none;
      }
    }
  }
}

.l-news__category-item.active {
  opacity: 0.7;
}

.l-news__category-item {
  cursor: pointer;
  margin-bottom: .5rem;
}

.news-item {
  margin-bottom: 2rem;

  @include mq(md) {
    margin-bottom: 1.3rem;
  }
}

@include mq(md) {
  .l-news__sidebar-title {
    padding-top: 0 !important;

    .l-news__content .pagination {
      margin: 0 !important;
    }

    .l-news__sidebar .l-news__sidebar-title {
      padding: 0 !important;
    }

    #news-pagi .pagination {
      margin: 0 !important;
    }
  }
}

/* サイドバーのカテゴリーリスト */
.l-news__category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 各カテゴリー項目 */
.l-news__category-item {
  margin-bottom: 6%;
  cursor: pointer;
}

@include mq(md) {
  .l-news__category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
    width: 100%;
  }

  .l-news__category-item {
    margin-bottom: 0;
    width: 50%;
  }
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 2rem;
  color: v.$color-main;
  background: v.$color-mtransparent;

  @include mq(md) {
    font-size: 1.2rem;
  }
}

.pagination {
  @include mq(md) {
    margin: 0 0 11%;
  }
}

@include mq(md) {
  .l-news__wrapper .l-news__sidebar {
    padding: 0 0 13% 0;
  }
}

@include mq(md) {
  main {
    min-width: 32rem;
  }
}

.news-arrow {
  font-size: 1.5rem;
  margin-left: .3rem;
  font-weight: 600;

  @include mq(md) {
    margin: 0;
  }
}