@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;


// ========================================
// こもれびだより
// ========================================

.l-letter {

  &__wrapper {
    width: 91%;
    margin: 12rem auto;

    @include mq(md) {
      width: 92%;
      margin: 8rem auto;
    }
  }

  &__wrapper-inner {
    // display: flex;

    @include mq(md) {}
  }

}


// ========================================
// こもれびだより一覧
// ========================================

.p-letter-archive {

  display: flex;
  gap: 3.2rem;

  @include mq(md) {
    flex-direction: column;
  }


  // ----------------------------------------
  // 検索フォームと記事一覧
  // ----------------------------------------

  &__content {
    width: 96rem;

    @include mq(md) {
      width: 100%;
    }
  }


  // ----------------------------------------
  // 検索フォーム
  // ----------------------------------------

  &__search {

    @include mq(md) {}
  }

  &__search-form {

    @include mq(md) {}
  }

  &__search-title {
    font-size: 2.4rem;
    margin: 0 0 .8rem;

    @include mq(md) {}
  }

  &__search-select-wrap {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 0 0 1.2rem;

    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 3.2rem;
    }
  }

  // 園を探すプルダウン
  &__search-select {

    select {
      height: 3.6rem;
      padding: 0 1.5rem;
      border: 1px solid #ccc;
      background-color: v.$color-white;
      font-size: 1.6rem;
      color: v.$color-main;
      cursor: pointer;
      border-radius: 8px;
      border-bottom: 1px solid v.$color-main;
    }

    &--area {
      width: 24rem;

      select {
        width: 100%;
      }
    }

    &--school {
      width: 20rem;

      select {
        width: 100%;
      }
    }

    @include mq(md) {}
  }

  // 検索ボタン
  &__search-button {

    button {
      display: block;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
    }

    img {
      display: block;
      width: 3.6rem;
      height: auto;
    }

    @include mq(md) {}
  }

  // ----------------------------------------
  // 一覧リスト
  // ----------------------------------------

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    @include mq(md) {
      gap: 2rem;
      justify-content: center;
    }
  }


  // ----------------------------------------
  // 記事
  // ----------------------------------------

  &__item {
    width: 30rem;
    height: 28rem;
    background-color: v.$color-white;
    border-radius: 2rem;

    @include mq(md) {}
  }


  // ----------------------------------------
  // カード
  // ----------------------------------------

  &__card {

    @include mq(md) {}
  }


  // ----------------------------------------
  // カードリンク
  // ----------------------------------------

  &__link {
    font-size: 1.8rem;
    color: v.$color-main;

    @include mq(md) {
      font-size: 1.6rem;
    }
  }


  // ----------------------------------------
  // カード内部
  // ----------------------------------------

  &__card-wrap {
    padding: 1.2rem;
    position: relative;
    height: calc(28rem - 13.5rem);

    @include mq(md) {}
  }


  // ----------------------------------------
  // アイキャッチ画像
  // ----------------------------------------

  &__image {
    width: 100%;
    height: 13.5rem;
    border-radius: 2rem 2rem 0 0;

    @include mq(md) {}
  }


  // ----------------------------------------
  // カードタイトル
  // ----------------------------------------

  &__card-title {
    font-size: 1.8rem;
    color: v.$color-main;
    margin: 0 0 1.1rem;

    @include mq(md) {}
  }


  // ----------------------------------------
  // 本文
  // ----------------------------------------

  &__text {
    font-size: 1.6rem;
    color: v.$color-main;

    @include mq(md) {}
  }


  // ----------------------------------------
  // 日付
  // ----------------------------------------

  &__date {
    font-size: 1.4rem;
    color: v.$color-main;

    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;

    @include mq(md) {}
  }


  // ----------------------------------------
  // リンクラップ
  // ----------------------------------------

  &__link-wrap {
    text-align: center;

    @include mq(md) {}
  }


  // ----------------------------------------
  // 投稿なし
  // ----------------------------------------

  &__no-post {

    @include mq(md) {}
  }


  // ========================================
  // サイドバー
  // ========================================

  &__sidebar {
    width: 32.8rem;
    background-color: yellow;
    border-left: 1px solid v.$color-main;
    padding: 0 0 0 2.4rem;

    @include mq(md) {}
  }


  // サイドバータイトル
  &__sidebar-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;

    @include mq(md) {
      font-size: 2rem;

    }
  }


  // アーカイブ年
  &__archive-year {
    font-size: 1.6rem;
    border-left: 4px solid v.$color-text;
    margin-bottom: 1rem;
    padding-left: 1rem;

    @include mq(md) {
      font-size: 1.4rem;

    }
  }


  // アーカイブ一覧
  &__archive-list {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;

    @include mq(md) {}
  }


  // アーカイブ項目
  &__archive-item {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    width: 6.2rem;
    height: 2.2rem;
    background-color: v.$color-white;
    border-radius: 8px;
    @include flex();

    @include mq(md) {
      font-size: 1.2rem;
      width: 5.7rem;
      height: 2rem;
    }
  }

  &__search-select-wrap {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include mq(md) {
      display: block;
    }
  }


  &__search-school-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mq(md) {}
  }


  &__search-select {

    select {
      height: 5rem;
      padding: 0 1.5rem;
      border: 1px solid #ccc;
      background-color: v.$color-white;
      font-size: 1.6rem;
      color: v.$color-main;
      cursor: pointer;
    }

    &--area {
      width: 24rem;

      select {
        width: 100%;
      }
    }

    &--school {
      width: 20rem;

      select {
        width: 100%;
      }
    }
  }



}