  @use '../foundation/variables' as v;
  @use '../foundation/mixin' as *;

  .page-404 {
    text-align: center;
    padding: 20rem 2rem 5rem;
  }

  .page-404 h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: v.$color-text;
    font-family: v.$font-primary-mincho;
  }

  .page-404 p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: v.$color-text;
    font-family: v.$font-primary-mincho;
  }

  .page-404 a.button-home {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: v.$color-accent-2;
    color: v.$color-white;
    text-decoration: none;
    border-radius: 6px;
  }


  /* スマホ対応 */
  @media screen and (max-width: 699.98px) {

    .page-404 {
      padding: 10rem 2rem 5rem;
    }

    .page-404 h1 {
      font-size: 2.5rem;
    }

    .page-404 p {
      font-size: 1rem;
    }
  }