@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.p-404-message {
  width: 75%;
  margin: 12rem auto 0;

  @include mq(md) {
    width: 92%;
    margin: 8rem auto 12rem;
  }

  &__inner {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;

    @include mq(md) {}

    & p,
    & ul {
      font-size: 2rem;
      color: v.$color-black;
      letter-spacing: 0.1em;
      line-height: 1.5;
      font-weight: v.$Regular;
      margin-bottom: 2.4rem;

      @include mq(md) {
        font-size: 1.7rem;
      }
    }
  }
}