@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;
@use '../utility/sp' as sp;

.price_menu {
  padding: 0 0 0;

  @include mq(md) {
    padding: 0;
  }
}

/* メニューナビ */
.price__nav {
  padding: 8rem 0 0;
  text-align: center;
  display: flex;
  width: 84%;
  margin: 0 auto;
  justify-content: space-between;
  background-color: v.$color-bg-1;
  background-color: gainsboro;
  border: 3px solid red;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }

  @include mq(md) {
    margin: 14% auto 0;
    padding: 0;
  }
}

.price__nav-text {
  width: 50%;
  padding: 0 0 10%;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: 2;
  color: v.$color-main;
  font-family: v.$font-primary-gothic;
  text-align: left;
  opacity: .5;
  font-weight: v.$Regular;

  @media screen and (max-width: 1200px) {
    width: 100%;
    padding: 3.3rem 0.9rem 7.7rem 2.8rem;
    font-size: 1.4rem;
    line-height: 2;
  }

  @include mq(md) {
    width: 100%;
    padding: 9% 0 25%;
    font-size: 1.4rem;
    line-height: 2;
  }
}

.p-price__row {

  @include mq(md) {
    display: block;
    margin: 0 auto;
  }
}

.p-price__row--top {
  display: flex;
  border-bottom: 0.1rem solid v.$color-main;
  position: relative;

  @include mq(md) {
    display: block;
  }
}

@include mq(md) {
  .price_top {
    display: block;
  }
}

.p-price__content {

  @include mq(md) {
    margin: 13% 0 0;
  }
}

.price__nav-list {
  width: 46.25%;

  @media screen and (max-width:1200px) {
    width: 100%;
  }
}

.p-price__content__title {
  font-size: 3.3rem;
  letter-spacing: .04em;
  line-height: calc(41 / 33);
  color: v.$color-main;
  font-family: v.$font-main-serif;
  padding: 1rem;
  padding-left: .8rem;
  text-align: left;
  text-transform: capitalize;
  font-weight: v.$Regular;

  @media screen and (max-width:1400px) {
    font-size: 2.6rem;
  }

  @include mq(md) {
    font-size: 2rem;
    width: 100%;
    padding: 1rem 0 .2rem 1.4rem;
  }
}

.price__detail {
  background-color: v.$color-bg-2;
  padding: 4% 0 .1rem;
  margin-bottom: 7rem;
  background-color: gainsboro;
  border: 3px solid red;

  @include mq(md) {
    padding: 16% 0 .1rem;
    margin: 0 auto;
  }
}

.price__detail-heading {
  font-size: 8.4rem;
  letter-spacing: .04em;
  line-height: calc(106 / 84);
  color: v.$color-main;
  font-family: v.$font-main-serif;
  text-align: center;
  margin: 0 0 3%;
  text-transform: capitalize;
  font-weight: v.$Regular;

  @include mq(md) {
    margin-bottom: 5.5rem;
    margin-left: 5%;
  }
}

.price__item {
  position: relative;

  @include mq(md) {
    padding: 0 0 14%;
  }
}

.price__item-title {
  font-size: 2.4rem;
  letter-spacing: .1em;
  line-height: calc(32 / 24);
  color: v.$color-main;
  font-family: v.$font-primary-mincho;
  text-align: center;
  margin-bottom: 2.8rem;
  text-transform: capitalize;
  font-weight: v.$Regular;

  @include mq(md) {
    font-size: 1.8rem;
    line-height: calc(32 / 18);
    margin-bottom: 5%;
  }
}

.price__item-description {
  font-size: 1.8rem;
  letter-spacing: .1em;
  line-height: calc(32 / 18);
  color: v.$color-main;
  font-family: v.$font-primary-mincho;
  width: 41%;
  margin: 0 auto 3%;
  text-align: center;
  font-weight: v.$Regular;

  @include mq(md) {
    text-align: left;
    margin: 0 auto 4.8%;
    font-size: 1.4rem;
    line-height: calc(32 / 14);
    width: 91%;
  }
}

.price__item-times {
  display: flex;
  width: 80rem;
  margin: 0 0 0 64rem;

  @include mq(md) {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.price__item-times li {
  font-size: 1.8rem;
  letter-spacing: .4em;
  line-height: calc(30 / 18);
  color: v.$color-main;
  font-family: v.$font-main-serif;
}

.price__item-prices {
  display: flex;
  width: 80.25rem;
  margin: 0 auto;
  position: relative;

  @include mq(md) {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.price__item-prices::before {
  content: "1箇所";
  font-size: 1.8rem;
  color: v.$color-main;
  font-family: v.$font-main-serif;
  position: absolute;
  top: 1rem;
  left: 2rem;
  text-transform: capitalize;
}

.price__item-prices li {
  font-size: 1.8rem;
  color: v.$color-main;
  font-family: v.$font-primary-mincho;
  border-top: .1rem solid v.$color-main;
  border-bottom: .1rem solid v.$color-main;
  padding: 1rem 4.7rem 1rem 12.8rem;
}

/* Custom */
.price__custom {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 0 6%;
  background-color: v.$color-bg-1;
  background-color: gainsboro;
  border: 3px solid red;

  @media screen and (max-width:1200px) {
    display: block;
    width: 84%;
    padding: 22% 0 0%;
    margin: 0 auto;
  }
}

.price__custom-image {
  width: 44%;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.price__custom-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;

  @media screen and (max-width: 1200px) {
    width: 75%;
    margin: 0 auto;
  }
}

.price__custom-description {
  width: 50%;

  @media screen and (max-width: 1200px) {
    margin: 0 auto;
    padding: 0 0 10%;
  }

  @include mq(md) {
    width: 100%;
    padding: 0 0 24%;
  }
}

.price__custom-title {
  font-size: 4.8rem;
  letter-spacing: 0.1em;
  line-height: calc(48/27);
  color: v.$color-main;
  font-family: v.$font-main-serif;
  margin-bottom: 6%;
  font-weight: v.$Regular;
  text-transform: capitalize;

  @include mq(md) {
    margin-top: 15%;
    margin-bottom: -.7rem;
  }
}

.price__custom-text {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: calc(36/18);
  color: v.$color-main;
  font-family: v.$font-primary-gothic;
  font-weight: v.$Regular;

  @include mq(md) {
    font-size: 1.4rem;
    line-height: calc(28/14);
  }
}

.p-price__content__title__ja {
  font-size: .9rem;
  letter-spacing: .04em;
  line-height: calc(9 / 9);
  color: v.$color-main;
  font-family: v.$font-primary-mincho;
  position: absolute;
  font-weight: v.$Regular;

  @include mq(md) {
    font-size: 1.2rem;
  }
}

.price__body {
  top: 54%;
  left: 9.8rem;

  @media screen and (max-width: 1400px) {
    left: 8.5rem;
  }

  @include mq(md) {
    top: 1.6rem;
    left: 6.8rem;
  }
}

.price__vio {
  top: 54%;
  left: 11.2rem;

  @media screen and (max-width: 1400px) {
    left: 10rem;
  }

  @include mq(md) {
    top: 1.4rem;
    left: 8.1rem;
  }
}

.price__custom-ja {
  top: 61%;
  left: 13.7rem;

  @media screen and (max-width: 1400px) {
    left: 11.8rem;
  }

  @include mq(md) {
    top: 1.7rem;
    left: 9.6rem;
  }
}

.price__set {
  top: 54%;
  left: 6.6rem;

  @media screen and (max-width: 1400px) {
    left: 6rem;
  }

  @include mq(md) {
    top: 1.4rem;
    left: 5.2rem;
  }
}

.price__all {
  top: 54%;
  left: 6.3rem;

  @media screen and (max-width: 1400px) {
    left: 5.2rem;
  }

  @include mq(md) {
    top: 1.3rem;
    left: 4.9rem;
  }
}

.p-price__row--center {
  display: flex;
  border-bottom: .1rem solid v.$color-main;
  position: relative;
  flex-direction: row-reverse;

  @include mq(md) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.p-price__row--bottom {
  display: flex;
  position: relative;
}

.p-price__row--top__left,
.p-price__row--bottom__left {
  border-right: .1rem solid v.$color-main;
  width: 50%;

  @include mq(md) {
    width: 100%;
    border-right: none;
    border-bottom: .1rem solid v.$color-main;
  }
}

.p-price__row--top__right,
.p-price__row--bottom__right {
  width: 50%;

  @include mq(md) {
    width: 100%;
  }
}

.p-price__row--bottom__right {
  width: 50%;

  @include mq(md) {
    width: 100%;
    border-bottom: .1rem solid v.$color-main;
  }
}

.p-price__row a {
  display: block;
  width: 100%;
  height: 100%;
}

.p-price__row--center__right {
  border-right: .1rem solid v.$color-main;
  width: 50%;

  @include mq(md) {
    width: 100%;
    border-right: none;
    border-bottom: .1rem solid v.$color-main;
  }
}

.p-price__row--center__left {
  width: 50%;

  @include mq(md) {
    width: 100%;
    border-bottom: none;
  }
}

.price__table-wrapper {
  width: 57%;
  margin: 0 auto 5%;

  @include mq(md) {}
}

/* 料金表テーブル */
.price__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 1%;
  text-align: center;

  @include mq(md) {}
}

.price__table th {
  border-bottom: 0.1rem solid v.$color-main;
  font-family: v.$font-primary-gothic;
  padding: 1% 1% 2%;
  padding-left: 3%;
  padding-right: 0%;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  letter-spacing: 0.04em;
  color: v.$color-main;
  font-weight: v.$Regular;

  @include mq(md) {}
}


/* スマホ表示用 */
@include mq(md) {

  .price__table,
  .price__table thead,
  .price__table tbody,
  .price__table th,
  .price__table td,
  .price__table tr {
    display: block;
  }

  .price__table thead {
    display: none;
  }

  .price__table tr {
    margin-bottom: 1.5em;
    border: 0.1rem solid v.$color-main4;
    padding: 1em;
  }

  .price__table td {
    border: none;
    border-bottom: 0.1rem solid v.$color-main;
    position: relative;
    padding-left: 63%;
    padding-top: 1.4rem;
    padding-bottom: 3.3rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: v.$font-primary-mincho;
    font-weight: v.$Regular;
  }

  .price__table td {
    border-bottom: 0.1rem solid v.$color-main;
    font-family: v.$font-primary-mincho;
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {
      font-size: 2rem;
    }
  }

  .price__table td:first-child {
    border-bottom: 0.1rem solid v.$color-main;
    font-family: v.$font-primary-mincho;
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  .price__table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.7rem;
    top: 3rem;
    font-weight: bold;
    color: v.$color-main;
    font-family: v.$font-primary-gothic;

    @include mq(md) {
      font-size: 1.6rem;
      font-weight: v.$Regular;
    }
  }

  .price__table td:first-child {
    padding-left: 1em;
    border-bottom: none;
    letter-spacing: 0.04em;

    @include mq(md) {
      font-size: 1.8rem;
    }
  }
}

.table-price {
  font-weight: bolder;
  color: v.$color-main;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: calc(30/24);
  font-family: v.$font-primary-mincho;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 7.5%;
  position: relative;
  width: 28%;
  font-weight: v.$Demibold;

  @media screen and (max-width: 1050px) {
    font-size: 1.6rem;
  }
}

.table-price::after {
  content: "円";
  color: v.$color-main;
  font-size: 1.8rem;
  padding-left: 4%;

  @media screen and (max-width: 1050px) {
    font-size: 1.6rem;
  }
}

.price-guidance {
  font-family: v.$font-primary-gothic;
  font-size: 1.2rem;
  color: v.$color-main;
  letter-spacing: 0.04em;
  line-height: calc(30 / 12);
  text-align: end;
}

@include mq(md) {
  .price-guidance {
    text-align: start;
    line-height: calc(18 / 12);
    padding-top: 3%;
  }
}

main {
  background-color: v.$color-bg-1;
}

.price__table-wrapper {
  width: 57%;
  margin: 0 auto 5%;

  @include mq(md) {}
}

.price__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 1%;
  text-align: center;

  @include mq(md) {}
}

.price__table th {
  border-bottom: 1px solid v.$color-main;
  font-family: v.$font-primary-gothic;
  padding: 1% 1% 2%;
  padding-left: 3%;
  padding-right: 0%;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  letter-spacing: 0.04em;
  color: v.$color-main;
  font-weight: v.$Regular;
}

@include mq(md) {

  .price__table,
  .price__table thead,
  .price__table tbody,
  .price__table th,
  .price__table td,
  .price__table tr {
    display: block;
  }

  .price__table thead {
    display: none;
  }

  .price__table tr {
    margin-bottom: 1.5em;
    border: 1px solid v.$color-main4;
    padding: 1em;
  }

  .price__table td {
    border: none;
    border-bottom: 1px solid v.$color-main;
    position: relative;
    padding-left: 63%;
    padding-top: 1.4rem;
    padding-bottom: 3.3rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: v.$font-primary-mincho;
    font-weight: v.$Regular;
  }

  .price__table td {
    border-bottom: 1px solid v.$color-main;
    font-family: v.$font-primary-mincho;
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {
      font-size: 2rem;
    }
  }

  .price__table td:first-child {
    border-bottom: 1px solid v.$color-main;
    font-family: v.$font-primary-mincho;
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  .price__table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.7rem;
    top: 3rem;
    font-weight: bold;
    color: v.$color-main;
    font-family: v.$font-primary-gothic;

    @include mq(md) {
      font-size: 1.6rem;
      font-weight: v.$Regular;
    }
  }

  .price__table td:first-child {
    padding-left: 1em;
    border-bottom: none;
    letter-spacing: 0.04em;

    @include mq(md) {
      font-size: 1.8rem;
    }
  }
}

.table-price {
  font-weight: bolder;
  color: v.$color-main;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: calc(30/24);
  font-family: v.$font-primary-mincho;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  position: relative;
  width: 28%;
  font-weight: v.$Demibold;

  @media screen and (max-width: 1050px) {
    font-size: 1.6rem;
  }
}

.table-price::after {
  content: "円";
  color: v.$color-main;
  font-size: 1.8rem;
  padding-left: 4%;

  @media screen and (max-width: 1050px) {
    font-size: 1.6rem;
  }
}

.price-guidance {
  font-family: v.$font-primary-gothic;
  font-size: 1.2rem;
  color: v.$color-main;
  letter-spacing: 0.04em;
  line-height: calc(30 / 12);
  text-align: end;
}

@include mq(md) {
  .price-guidance {
    text-align: start;
    line-height: calc(18 / 12);
    padding-top: 3%;
  }
}

.p-price__row .boby-fa {
  color: v.$color-main;
  padding: 1rem 0;
  font-size: 2rem;
  position: absolute !important;
  top: 20%;
  left: 44%;

  @include mq(md) {
    font-size: 1.1rem;
    top: 0.9rem;
    left: 92%;
  }
}

.p-price__row .vio-fa {
  color: v.$color-main;
  padding: 1rem 0;
  font-size: 2rem;
  position: absolute !important;
  top: 20%;
  left: 92%;

  @include mq(md) {
    font-size: 1.1rem;
    top: 4.6rem;
  }
}

.p-price__row .custom-fa {
  color: v.$color-main;
  padding: 1rem 0;
  font-size: 2rem;
  position: absolute !important;
  top: 20%;
  left: 92%;

  @include mq(md) {
    font-size: 1.1rem;
    top: 4.6rem;
  }
}

.p-price__row .set-fa {
  color: v.$color-main;
  padding: 1rem 0;
  font-size: 2rem;
  position: absolute !important;
  top: 20%;
  left: 44%;

  @include mq(md) {
    font-size: 1.1rem;
    top: 0.9rem;
    left: 92%;
  }
}

.p-price__row .all-fa {
  color: v.$color-main;
  padding: 1rem 0;
  font-size: 2rem;
  position: absolute !important;
  top: 20%;
  left: 44%;

  @include mq(md) {
    font-size: 1.1rem;
    top: 0.9rem;
    left: 92%;
  }
}

.price__table .table-gothic {
  font-family: v.$font-primary-gothic;
  color: v.$color-main;
  font-size: 1.8rem;
  letter-spacing: 0.024em;
  line-height: calc(30/18);
}

.price__table .table-price-title {
  font-size: 1.6rem;
  letter-spacing: 0.04em;
  line-height: calc(18/16);
  font-family: v.$font-primary-gothic;
  font-weight: v.$Regular;
}

tr {
  border-bottom: 1px solid v.$color-main;
}

.price-table-row1st p {
  font-family: v.$font-primary-mincho;
  position: relative;
  font-weight: v.$Regular;
}

.price-table-row1st p::after {
  content: "円";
  color: v.$color-main;
  font-size: 1.4rem;
  position: absolute;
  top: 0.3rem;
  right: -2.4rem;
}

.heading-vio {
  margin-top: 7%;
  margin-bottom: 3%;
  text-transform: initial;
}

.heading-set {
  margin: 7% 0 3%;
}

.priceTitle {
  font-weight: v.$Regular;
}


// sp専用パーツ
@include mq(md) {

  .price-sp {
    padding: 1% 0;
    width: 91%;
    margin: 0 auto;
  }

  .price-sp-row1st {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: "游ゴシック体", "Yu Gothic", "Hiragino Sans", sans-serif;
    font-size: 1.8rem;
    color: v.$color-main;
    border-bottom: 1px solid v.$color-main;
    padding: 9% 0 9%;
    padding-left: 14%;
    padding-right: 11%;
    font-weight: v.$Regular;
  }

  .price-sp-title h3 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.04em;
    font-family: "游ゴシック体", "Yu Gothic", "Hiragino Sans", sans-serif;
    color: v.$color-main;
    font-weight: v.$Regular;
  }

  .price-table-row1st {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: "游ゴシック体", "Yu Gothic", "Hiragino Sans", sans-serif;
    font-size: 1.8rem;
    color: v.$color-main;
    border-bottom: 1px solid v.$color-main;
    padding: 6.5% 0 6.5%;
    padding-right: 6%;
    font-weight: v.$Regular;
  }

  .price-table-row1st p {
    font-weight: 700;
    font-family: v.$font-primary-mincho;
    position: relative;
    letter-spacing: 0.1em;
  }

  .price-table-row1st p::after {
    content: "円";
    color: v.$color-main;
    font-size: 1.4rem;
    position: static;
  }

  .price-table-row1st h4 {
    font-size: 1.6rem;
    letter-spacing: 0.04em;
    line-height: calc(30/16);
    font-weight: v.$Regular;
  }

  .add-part {
    margin: 14% auto 0;
  }

  .heading-set {
    margin: 6% 0 11%;
  }

  .heading-body {
    margin: 0 0 15%;
  }

  .parts-m {
    margin: 0 0 5%;
  }

  .parts-l {
    margin: 0 0 5%;
  }

  .heading-vio {
    margin-top: 6%;
    margin-bottom: 12%;
  }

  .price-guidance {
    text-align: start;
  }
}

.vvv-line {
  text-transform: initial;
}