@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;


.l-privacy-policy {

  &__inner {
    width: 75%;
    max-width: 1080px;
    background-color: v.$color-white;
    margin: 8rem auto;
    padding: 3.6rem 4.8rem;
    border-radius: 4rem;

    @include mq(md) {
      width: 92%;
      margin: 6rem auto;
      padding: 3.2rem 1.5rem 1.8rem;
    }
  }

  &__section {
    margin: 0 0 3.6rem;

    @include mq(md) {}
  }

  &__heading {
    font-size: 2rem;
    color: v.$color-main;
    border: 1px solid v.$color-main-2;

    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;

    border-radius: 1.2rem;
    margin-bottom: 1.2rem;

    // 左側の棒を配置するため
    position: relative;
    padding: 0.8rem 1.6rem 0.8rem 2.4rem;

    @include mq(md) {
      margin-bottom: 1.6rem;
      padding: 1.2rem 2.4rem;
      line-height: 1.2;
    }

    &::before {
      content: "";
      position: absolute;
      left: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.4rem;
      height: 2rem;
      background-color: v.$color-main;
      border-radius: 0.2rem;

      @include mq(md) {
        height: 3.8rem;
        left: 1.6rem;
      }
    }
  }

  &__article p {
    font-size: 1.6rem;
    color: v.$color-main-2;

    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;

    margin-bottom: .8rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__article h3 {
    font-size: 1.6rem;
    color: v.$color-main-2;

    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;

    margin-bottom: .8rem;
    position: relative;
    padding: 0.8rem 1.6rem 0.8rem 2.4rem;

    @include mq(md) {
      font-size: 1.4rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 1.6rem;
      top: 0.8rem;
      bottom: 0.8rem;
      width: 0.4rem;
      background-color: v.$color-main-6;
      border-radius: 0.2rem;

      @include mq(md) {
        left: 0;
      }
    }
  }

  &__item h4 {
    font-size: 1.6rem;
    color: v.$color-main-2;

    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;

    margin-bottom: .8rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__list {
    list-style: none;
    counter-reset: number;

    @include mq(md) {}
  }

  &__list li {
    font-size: 1.6rem;
    color: v.$color-main-2;
    position: relative;
    counter-increment: number;
    margin-left: 2.5rem;
    margin-bottom: .8rem;

    @include mq(md) {
      font-size: 1.4rem;
      margin-bottom: .8rem;
    }

    &::before {
      content: counter(number) "．";
      position: absolute;
      left: -2.5rem;
      top: 0;
    }
  }

  &__info {
    margin: 1.6rem 0 0;
    text-align: right;

    @include mq(md) {}
  }

  &__info p {
    font-size: 1.6rem;
    color: v.$color-main-2;
    margin-bottom: .8rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  &__article-bottom {
    display: flex;
    gap: 2rem;

    @include mq(md) {
      flex-direction: column;
      gap: 0;
    }
  }
}