@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.p-recruit-page {
  &__icon-wrap {
    width: 10.8rem;
    height: 10.8rem;
    background-color: v.$color-main-3;
    @include flex;
    margin: 0 auto 1rem;
    border-radius: 50%;

    @include mq(md) {
      width: 8rem;
      height: 8rem;
      margin: 0 auto .8rem;
    }

  }

  &__heading {
    text-align: center;

    @include mq(md) {}

  }

  &__icon {
    width: 7.2rem;
    height: 7.2rem;

    @include mq(md) {
      width: 5.3rem;
      height: 5.3rem;
    }

  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin: 0 auto 1rem;

    @include mq(md) {
      font-size: 2rem;
    }

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;
    text-transform: capitalize;
    font-family: v.$font-sub;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: v.$Black;
    margin: 0 0 4.8rem;

    @include mq(md) {}
  }

  &__subtitle-textup {
    text-transform: uppercase;
  }

  // たいせつにしていることセクション
  &__motto {
    margin: 12rem 0 12rem;

    @include mq(md) {
      width: 92%;
      margin: 0 auto 8rem;
    }
  }

  &__motto__inner {
    max-width: 1440px;
    margin-inline: auto;

    @include mq(md) {
      width: 100%;
    }
  }

  &__motto-list {
    max-width: 132rem;
    margin-inline: auto;
  }

  &__motto-content {
    flex: 1;
    width: auto;

    @include mq(md) {
      width: 100%;
      padding: 0 1.5rem;
    }

  }

  &__motto-item {
    display: flex;
    gap: 4.8rem;
    justify-content: center;
    margin-bottom: 3.2rem;

    &.is-reverse {
      flex-direction: row-reverse;
    }

    @include mq(md) {
      flex-direction: column;
      gap: 3.2rem;

      &.is-reverse {
        flex-direction: column;
      }
    }

  }

  &__motto-img {
    width: 48rem;
    height: 32rem;
    border-radius: 40px;
    overflow: hidden;

    @include mq(md) {
      width: 24rem;
      height: 16rem;
      margin: 0 auto;
    }

  }

  &__motto-image {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__motto-title {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;


    margin-bottom: 2.4rem;
    border-bottom: 1px solid v.$color-main;
    padding: 1.4rem 8rem 0 0;

    @include mq(md) {
      font-size: 1.8rem;
      padding-bottom: 1.1rem;
    }
  }

  &__motto-title-icon {
    width: 2.4rem;
    height: auto;
    flex-shrink: 0;

    @include mq(md) {
      width: 2rem;
    }
  }

  &__motto-text {
    font-size: 1.6rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 2;
    font-weight: v.$Regular;

    @include mq(md) {
      font-size: 1.4rem;
    }

  }


  // 募集要項セクション
  &__requirements {
    margin: 0 0 12rem;

    @include mq(md) {
      margin: 0 auto 8rem;
    }
  }

  &__requirements-table__inner {
    width: 75%;
    max-width: 1080px;
    background-color: v.$color-white;
    margin-inline: auto;
    padding: 2.4rem;
    border-radius: 20px;

    @include mq(md) {
      width: 92%;
    }
  }

  &__req-list {
    display: flex;
    flex-direction: column;
  }

  &__req-item {
    display: flex;
    align-items: center;
    padding: 3.2rem 0;


    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
      padding: 0 0 2.4rem;
    }
  }

  &__req-item-big-pb {
    padding: 3.9rem 0;

    @include mq(md) {
      padding: 3.2rem 0;
    }
  }

  &__req-term {
    width: 20rem;
    flex-shrink: 0;
    background-color: v.$color-main-5;
    color: v.$color-white;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;

    text-align: center;
    padding: .6rem 0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    @include mq(md) {
      width: 100%;
    }
  }

  &__req-desc {
    flex-grow: 1;
    padding-left: 2.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-weight: v.$Regular;

    @include mq(md) {
      padding-left: 0;
      font-size: 1.4rem;
      padding: 0 1.5rem;
    }
  }

  &__req-desc-fs16 {

    @include mq(md) {
      font-size: 1.6rem;
    }
  }

  &__req-note {
    font-size: 1.4rem;

    @include mq(md) {
      font-size: 1.2rem;
    }
  }

  // よくある質問セクション
  &__faq {
    margin: 0 0 9.6rem;

    @include mq(md) {
      margin: 0 0 8rem;
    }
  }

  &__faq-list__inner {
    max-width: 1080px;
    width: 75%;
    margin-inline: auto;

    @include mq(md) {
      width: 92%;
    }

  }

}


// アコーディオンここから
.c-heading {
  font-size: 8.4rem;
  letter-spacing: 0.04em;
  line-height: calc(106 / 84);
  position: relative;
  text-transform: uppercase;

  @include mq(md) {
    font-size: 4.8rem;
  }

  &::after {
    content: "FAQ";
    font-size: 12rem;
    line-height: calc(168 / 120);

    position: absolute;
    top: -3rem;
    left: 6rem;

    @include mq(md) {
      font-size: 7.2rem;
    }
  }

  &-sub {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    line-height: calc(14 / 14);

    margin-bottom: 6.1rem;

    @include mq(md) {
      font-size: 1.2rem;
      margin: 0 0 14% 0;
    }
  }
}

.c-accordion {
  margin-bottom: 2rem;
  width: 100%;
  margin: 0 auto;

  &__item {
    margin: 0 auto 2.4rem;
    background-color: v.$color-white;
    border: 1px solid v.$color-main-5;
    border-radius: 20px;

    // 回答が開いているときだけ点線を表示
    &:has(.c-accordion__question.active) {
      .c-accordion__question::after {
        content: "";
        position: absolute;
        left: 2.2rem;
        right: 2.5rem;
        bottom: 2rem;
        border-bottom: 1px dotted v.$color-black;

        @include mq(md) {
          left: 3rem;
          right: 1rem;
        }
      }
    }

    @include mq(md) {
      width: 100%;
    }
  }

  &__question {
    width: 100%;
    max-width: 108rem;
    font-size: 1.8rem;
    color: v.$color-main;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: v.$Regular;

    padding: 3.2rem 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: left;

    @include mq(md) {
      font-size: 1.4rem;
      margin-right: 1.2rem;
      font-weight: 400;
      text-align: left;
      height: auto;
      display: flex;
      align-items: baseline;
    }

    &::before {
      content: "q";
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 0.04em;
      margin-right: 2rem;

      @include mq(md) {
        font-weight: 400;
        padding-left: 1%;
        margin-right: 3.2rem;
        margin-left: -1%;
      }
    }
  }

  &__answer {
    width: 100%;
    max-width: 108rem;
    font-size: 1.6rem;
    color: v.$color-main;

    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;

    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 0 0 2%;

    @include mq(md) {
      font-size: 1.4rem;
      margin-right: 1.2rem;
      font-weight: 400;
      line-height: calc(21 / 14);
    }

    &::before {
      content: "a";
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      margin-right: 2rem;

      @include mq(md) {
        margin-right: 1.5rem;
        margin-left: 0.2rem;
        font-weight: 400;
      }
    }
  }
}

.accordion-icon {
  position: absolute;
  top: 50%;
  right: 3rem;
  font-size: 1.2rem;
  color: v.$color-main-5;

  @include mq(md) {
    top: 40%;
    right: 3%;
    font-size: 1.4rem;
  }
}

.accordion-header {
  padding-left: 3.2rem;
  padding-right: 5.5rem;

  @include mq(md) {
    padding: 2rem 3.2rem;
    // padding: 2rem 5.6rem 3.2rem 7.3rem;
  }
}

.c-accordion__answer {
  padding-left: 2.2rem;
  padding-right: 5.5rem;

  @include mq(md) {
    padding: 0em 1.8em 1.2em 0.8em;
  }
}

.accordion-content p {
  padding: 0;
  width: 90%;

  @include mq(md) {}
}