@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;


.p-reserve-input__block-comfirm p {
  display: flex;
}

@media screen and (min-width: 700px) {

  .p-reserve-input__block-comfirm .p-reserve-input__row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .p-reserve-input__block-comfirm .p-reserve-input__row label {
    white-space: nowrap;
  }

  .p-reserve-input__block-comfirm .p-reserve-input__row input,
  .p-reserve-input__block-comfirm .p-reserve-input__row select,
  .p-reserve-input__block-comfirm .p-reserve-input__row textarea {
    flex: 1;
    min-width: 0;
  }
}

.p-reserve-input__block-comfirm p {
  display: flex;
  font-size: 1.6em;
  color: v.$color-main2;
}

.p-reserve-input__label-text {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 5rem;
  padding-left: .8rem;
  box-sizing: border-box;
  font-family: v.$font-main-serif;
  width: 38.8rem;
}

// テーブル用
.confirm-table {
  width: 94%;
  margin: 0 auto;

  @include mq(md) {
    width: 100%;
  }
}

.confirm-table th {
  width: 36%;
  height: 3.6rem;
  font-size: 1.6rem;
  padding-left: .8rem;
  font-family: v.$font-primary-mincho;
  color: v.$color-main;
  font-weight: 400;

  @media screen and (max-width: 950px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 1rem;
  }

  @include mq(md) {
    width: 100%;
    padding-left: 0;
    font-size: 1.6rem;
  }
}

.confirm-table td {
  width: 64%;
  font-size: 1.6rem;
  padding-left: 2.5%;
  font-family: v.$font-primary-gothic;
  color: v.$color-main2;
  font-weight: 400;

  @include mq(md) {
    width: 100%;
    padding-left: 0;
  }
}

.contact-time {
  display: flex;
  gap: 2rem;

  @include mq(md) {}
}

@media only screen and (max-width: 767.98px) {

  table th,
  table td {
    display: block;
  }
}

.confirm-table td,
.confirm-table th {
  padding-bottom: 3%;

  @include mq(md) {
    padding-bottom: 3rem;
  }
}

.confirm-label p {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: calc(28 / 16);
  font-weight: v.$Regular;
  color: v.$color-main;

  @include mq(md) {
    font-size: 1.6rem;
    color: v.$color-main;
  }
}

.confirm-input p {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: calc(28 / 16);
  font-weight: v.$Regular;
  color: v.$color-main2;

  @include mq(md) {
    font-size: 1.4rem;
    line-height: calc(22 / 14);
    color: v.$color-main;
  }
}

.confirm-table tr {
  border-bottom: none;

  @include mq(md) {}
}

.comfirm-mailform {
  margin-bottom: 9.8rem;

  @include mq(md) {
    margin-bottom: 0;
  }
}

.p-reserve-input__comfirm-required {
  background-color: v.$color-accent-1;
  font-family: v.$font-primary-mincho;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: calc(28 / 12);
  min-width: 6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  height: 2.6rem;
  margin-right: 1.7rem;
  color: v.$color-bg-1;
  font-weight: v.$Regular;
  margin-right: 2%;

  @include mq(md) {
    margin-right: 3%;
  }
}

// 任意用スタイル
.p-reserve-input__optional {
  color: v.$color-main;
  background-color: v.$color-bg-2;
}

.confirm-submit {
  margin-top: 3%;
}

.confirm-contents {
  margin-top: 3%;
}

.confirm-container {
  text-align: justify;

  @include mq(md) {
    padding: 19% 0 0;
  }
}

.second-visit {
  padding-bottom: 4%;

  @include mq(md) {
    padding: 0;
  }
}

.p-reserve-formConfirm {
  @include mq(md) {
    padding: 0 0 27%;
  }
}


// スマホだけ表示
.sp_only {
  display: none;
}

@include mq(md) {
  .sp_only {
    display: block;
  }
}

// PCだけ表示
.pc_only {
  display: block;
}

@include mq(md) {
  .pc_only {
    display: none;
  }
}