@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;


.c-form-thnaks {
  // text-align: center;
  color: v.$color-main;
  padding: 4% 0 2%;
  width: 75%;
  margin: 0 auto;

  @include mq(md){
    padding: 6% 0 7%;
    width: 84%;
  }

  &__title {
    font-size: 3.6rem;
    letter-spacing: 0.1em;
    line-height: calc(47 / 36);
    font-family: v.$font-primary-mincho;
    font-weight: 400;
    text-align: center;
    font-weight: v.$Regular;

    @media screen and (max-width: 900px) {
      font-size: 3rem;
    }

    @include mq(md){
      font-size: 2.4rem;
      margin: 0 auto 1.3rem;
      text-align: justify;
      padding-right: 8%;
      letter-spacing: 0.04em;
      line-height: calc(36 / 24);
    }
  }

  &__coments {
    margin: 3.2rem auto 0;
    width: 36%;

    @include mq(md){
      margin: 0;
      width: 100%;
    }
  }

  &__text {
    font-size: 1.8rem;
    letter-spacing: 0.04em;
    line-height: calc(36 / 18);
    font-family: v.$font-primary-gothic;
    font-weight: v.$Regular;

    @include mq(md){
      font-size: 1.4rem;
    }
  }

  &__link {
    text-align: left;
    margin: 0 auto;

    @include mq(md){
      margin: 0;
    }

    a {
      font-size: 1.8rem;
      letter-spacing: 0.04em;
      line-height: calc(36 / 18);
      color: v.$color-main;
      text-decoration: underline;
      text-decoration-color: v.$color-main;
      cursor: pointer;
      font-family: v.$font-primary-gothic;
      font-weight: v.$Regular;

      @include mq(md){
        font-size: 1.4rem;
        width: 100%;
        line-height: 1;
      }
    }
  }
}

.thanks-steps {
  @include mq(md){
    margin-bottom: 2.3rem;
  }
}