@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  background: linear-gradient(to bottom,
      v.$color-mtransparent2-top 0%,
      v.$color-mtransparent2-top 45%,
      v.$color-mtransparent2-bottom 100%);

  @include mq(md) {}



  &__menu {
    text-align: center;
    padding: 4.8rem 0 1.2rem;

    border: 3px solid red;

    @include mq(md) {
      padding: 4.8rem 0 1.2rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      cursor: pointer;
    }

    img {
      width: 24rem;
      height: auto;
      object-fit: cover;

      @include mq(md) {
        width: 20rem;
        height: auto;
      }
    }

    &-title {
      font-size: 2.8rem;
      font-family: v.$font-main;
      letter-spacing: 0.2em;
      line-height: calc(35 / 28);
      color: v.$color-accent-1;
      margin: 0;
      text-align: left;
      font-weight: v.$Regular;

      @include mq(md) {
        font-size: 2rem;
        text-align: left;
        padding-right: 7rem;
      }
    }
  }

  &__nav {
    margin-bottom: 2rem;

    @include mq(md) {
      padding: 1.9rem 0 4.8rem;
      margin-bottom: 0;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1rem;
      width: 92%;
      margin: 0 auto;
      padding: 3rem 0;


      @include mq(md) {
        width: 92%;
        gap: 0;
        padding: 0;
        margin: 0 auto;
      }
    }

    &-link {
      font-size: 1.6rem;
      font-family: v.$font-main;
      color: v.$color-accent-1;
      text-decoration: none;
      cursor: pointer;
      letter-spacing: 0.1em;
      line-height: calc(25 / 20);
      text-transform: capitalize;
      font-weight: v.$Regular;

      @include mq(md) {
        font-size: 1.4rem;
        padding-left: 1rem;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &-item {

      &:first-child .footer__nav-link,
      &:nth-child(6) .footer__nav-link {
        border-left: none;
        padding-left: 0;
      }

      @include mq(md) {
        text-align: left;
      }
    }
  }

  &__copyright-text {
    font-size: 1.4rem;
    line-height: calc(15 / 12);
    color: v.$color-accent-1;
    font-family: v.$font-main;
    text-align: center;
    letter-spacing: 0.1em;

    @include mq(md) {
      padding-bottom: .8rem;
    }
  }
}

.page-top {
  position: fixed;
  bottom: 8rem;
  right: 4rem;
  z-index: 1000;

  @include mq(md) {
    right: 2.5rem;
    bottom: 2rem;
  }

  &__link {
    background-color: v.$color-white;
    color: v.$color-main;
    border-radius: 50%;
    box-shadow: 0 0.4rem 0.8rem v.$color-shadow;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 7.2rem;
    height: 7.2rem;

    @include mq(md) {
      width: 4.8rem;
      height: 4.8rem;
    }

    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      border-left: 0.4rem solid v.$color-main;
      border-top: 0.4rem solid v.$color-main;
      transform: rotate(45deg);
      display: block;

      @include mq(md) {
        width: 1rem;
        height: 1rem;
        border-left: 0.2rem solid v.$color-main;
        border-top: 0.2rem solid v.$color-main;
      }
    }

    &:hover {
      opacity: 1;
      transform: translateY(-0.3rem);
    }
  }
}

.sp-list {
  @include mq(md) {}
}

.sp-item {
  @include mq(md) {}
}

.sp-list-top {
  @include mq(md) {
    padding: 7% 0 0;
  }
}

.sp-list-middle {
  @include mq(md) {
    padding: 4% 0 0rem 6%;
  }
}

.sp-list-bottom {
  @include mq(md) {
    padding: 8% 0rem 0rem 1%;
  }
}



.top-footer {
  text-transform: uppercase;
}

.footer__nav [data-aos="fade-up"] {
  transform: translateY(2rem);
}

.footer__nav [data-aos="fade-up"].aos-animate {
  transform: translateY(0);
}