@use '../foundation/variables' as v;
@use '../foundation/mixin' as *;

.l-hero {
  background-color: v.$color-accent-9;
  padding: 6rem 2rem;
  text-align: center;

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: v.$color-main3;
  }

  &__btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: v.$color-main;
    color: v.$color-white;
    text-decoration: none;
    border-radius: 4px;
  }
}

.p-hero {
  position: relative;
}



// お知らせボタン用
.p-hero-news {
  width: 24rem;
  height: 12rem;
  background-color: v.$color-main-3;
  border-radius: 2rem;
  padding: 1.6rem 1.6rem 1.8rem;

  position: absolute;
  position: fixed;
  top: 58rem;
  right: 3rem;

  @include mq(md) {
    height: 11rem;
    top: 53rem;
    right: 11rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__category {
    font-size: 2rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;

    margin-bottom: .8rem;

    @include mq(md) {
      font-size: 1.6rem;
    }

  }

  &__title {
    font-size: 1.4rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin-bottom: .4rem;

    @include mq(md) {
      font-size: 1.2rem;
    }
  }

  &__date {
    font-size: 1.2rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: v.$Regular;
    align-self: flex-end;

    @include mq(md) {
      font-size: 1rem;
    }
  }
}

.p-hero-news {
  // 現在のスタイル

  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}