@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;


* {
  outline: 2px dashed green;
}


// リキャプチャを最前面に
.grecaptcha-badge {
  z-index: 9999999;
}



// 共通背景用
.l-page-bg {
  background-image: url("../../img/bg.png");
}



// インビュー
.inview {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.inview.show {
  opacity: 1;
  transform: translateY(0);
}