@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;

.p-about {
  text-align: center;
  margin: 0 auto 5rem;

  @include mq(md) {}

  &__icon-wrap {
    width: 10.8rem;
    height: 10.8rem;
    background-color: v.$color-main-3;
    @include flex;
    margin: 0 auto 5rem;
    border-radius: 50%;

    @include mq(md) {
      width: 8rem;
      height: 8rem;
      margin: 0 auto .8rem;
    }
  }

  &__icon {
    width: 7.2rem;
    height: 7.2rem;

    @include mq(md) {
      width: 5.3rem;
      height: 5.3rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-weight: v.$Regular;
    margin: 0 auto 1rem;

    @include mq(md) {
      font-size: 2rem;
      margin: 0 auto .8rem;
    }

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;
    text-transform: capitalize;
    font-family: v.$font-sub;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: v.$Black;
    margin: 0 auto 6.4rem;

    @include mq(md) {
      margin: 0 auto 4.8rem;
    }
  }

  &__text-wrap {
    margin: 0 0 12rem;

    @include mq(md) {
      margin: 0 0 8.8rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: v.$color-main;
    letter-spacing: 0.2em;
    line-height: 2;
    font-weight: v.$Regular;
    margin: 1.6rem 0;

    @include mq(md) {
      font-size: 1.4rem;
      margin: 1.6rem 0 3.1rem;
    }
  }
}