@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;

.p-about {
  text-align: center;
  margin: 0 auto 5rem;

  @include mq(md) {}

  &__icon-wrap {
    width: 10.8rem;
    height: 10.8rem;
    background-color: v.$color-main-3;
    @include flex;
    margin: 0 auto 5rem;
    border-radius: 50%;

    @include mq(md) {}

  }

  &__icon {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;

    @include mq(md) {}

  }

  &__heading {
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {}

  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;
    margin: 0 auto 1rem;

    @include mq(md) {}

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;
    margin: 0 auto 6.4rem;

    @include mq(md) {}

  }

  &__text-wrap {
    margin: 0 0 12rem;

    @include mq(md) {}

  }

  &__text {
    font-size: 1.8rem;
    color: v.$color-main;
    margin: 1.6rem 0;

    @include mq(md) {}

  }
}