@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;

.p-introduction {
  background-color: v.$color-main-3;
  text-align: center;
  width: 75%;
  margin: 0 auto 5rem;

  @include mq(md) {}

  &__icon {
    width: 10.8rem;
    height: 10.8rem;
    margin: 0 auto 5rem;

    @include mq(md) {}

  }

  &__heading {
    font-size: 2.4rem;
    color: v.$color-main;

    @include mq(md) {}

  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;


    @include mq(md) {}

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;

    @include mq(md) {}

  }

  &__prefectures-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.4rem;

    @include mq(md) {}

  }

  &__prefectures-item {
    font-size: 1.8rem;
    color: v.$color-main;
    background-color: v.$color-white;
    width: 32rem;
    height: 6rem;
    @include flex;
    border-radius: 2rem;

    @include mq(md) {}

  }

  &__link {
    font-size: 1.8rem;
    color: v.$color-main;

    @include mq(md) {}

  }
}