@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as *;

.p-recruit {
  background-color: v.$color-main-3;
  background-image: url("../../img/recruit-bg.webp");
  background-size: cover;
  background-position: center;
  height: 63rem;
  display: flex;
  align-items: center;

  @include mq(md) {
    height: 69.6rem;
    background-image: url("../../img/recruit-bg-sp.webp");
  }

  &__inner {
    width: 75%;
    margin-inline: auto;
    background-color: v.$color-mtransparent;
    text-align: center;
    padding: 6.4rem 28rem;
    border-radius: 40px;

    @include mq(md) {
      width: 92%;
      padding: 6.4rem 4.4rem;
    }

  }

  &__inner-wrap {
    @include mq(md) {}

  }

  &__icon-wrap {
    width: 10.8rem;
    height: 10.8rem;
    background-color: v.$color-main-3;
    @include flex;
    margin: 0 auto 5rem;
    border-radius: 50%;

    @include mq(md) {
      width: 8rem;
      height: 8rem;
      margin: 0 auto .8rem;
    }

  }

  &__icon {
    width: 7.2rem;
    height: 7.2rem;

    @include mq(md) {
      width: 5.3rem;
      height: 5.3rem;
    }

  }

  &__heading {

    @include mq(md) {}

  }

  &__title {
    font-size: 2.4rem;
    color: v.$color-main;
    margin: 0 auto 1rem;

    @include mq(md) {
      font-size: 1.8rem;
      margin: 0 auto 1rem;
    }

  }

  &__subtitle {
    font-size: 1rem;
    color: v.$color-main;
    margin: 0 auto 4.8rem;

    @include mq(md) {
      margin: 0 auto 4.8rem;
    }

  }

  &__text {
    font-size: 1.8rem;
    color: v.$color-main;
    margin: 0 auto 3.9rem;

    @include mq(md) {
      margin: 0 auto 3.2rem;
    }

  }

  &__link-wrap {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;
    }
  }

  &__link {
    font-size: 1.8rem;

    @include mq(md) {}

  }

  &__link-info {
    color: v.$color-main;
    background-color: v.$color-main-4;
    width: 24rem;
    height: 6rem;

    @include mq(md) {
      font-size: 1.8rem;
    }
  }

  &__link-entry {
    color: v.$color-main;
    background-color: v.$color-main-3;
    width: 24rem;
    height: 6rem;

    @include mq(md) {
      font-size: 1.8rem;
    }
  }

}